<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Diario</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/fdc4834fee.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <form class="auth-form" action="/register" method="POST" autocomplete="off">
      <div class="auth">
          <h1>DIARIO</h1>
          <div class="h3"><h3>REGISTER</h3></div>
          <div class="auth-button">
              <a href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  &nbsp  Register
              </a>
          </div>
          <div class="or">
              <span>or</span>
          </div>
          
          <input type="email" name="username" placeholder="Email Address">
          <input type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="auth-button">Signup</button>
      <p>Register yourself in the online diary</p>
     
  </form>


<%- include("partials/footer"); %>